/* 공통디자인 common.css */
/* header, footer */
body {}
#wrap {}
#wrap header {
    background-color: rgba(0, 0, 0, 0.9);
    height: 70px;
    padding: 0 80px;
    min-width: 1220px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* 스크롤 이동시 고정 */
    position: fixed; left: 0; top: 0; z-index: 999; width: 100%;
}
#wrap header h1 {background-color:;}
#wrap header h1 a {}
#wrap header h1 a img {}
/*  호랑가시나무 언덕소개 ~ 고객센터까지 모든 gnb+lnb 공통 선택자 */
#wrap header nav {}
#wrap header nav #gnb {
    display: flex;/* li */
    flex-flow: row nowrap; gap: 20px;
}
#wrap header nav #gnb a:hover {color:yellow !important;}/* 공통 a */
#wrap header nav #gnb > li {position: relative;} /* 첫번째 서브 기준 */
#wrap header nav #gnb > li:hover .gnb_depth2 {display: block;} /* 첫번째 서브 기준 */
#wrap header nav #gnb > li > a {
    color: #fff;
    line-height: 70px;
    display: block;
}/* line 20 */
#wrap header nav #gnb > li > .gnb_depth2 {
    background-color:rgb(68, 68, 68);
    position: absolute; 
    width: 160px;
    left: 50%; transform: translateX(-50%); /* absolute 부모 x축 정중앙 */
    display:none;
}
#wrap header nav #gnb > li > .gnb_depth2  > li {}
#wrap header nav #gnb > li > .gnb_depth2  > li > a {
    color: #fff;
    display: block; line-height: 46px;
    text-align: center;
}
#wrap header nav #gnb > li > .gnb_depth2  > li > .gnb_depth3 {
    background-color: rgb(112, 112, 112);
    text-align: center;
    display: none;
}
#wrap header nav #gnb > li > .gnb_depth2  > li:hover > .gnb_depth3 {display: block;}
#wrap header nav #gnb > li > .gnb_depth2  > li > .gnb_depth3 li {
    line-height: 46px;
    display: block;
    color: rgb(58, 0, 58);
}
#wrap header nav #gnb > li > .gnb_depth2  > li > .gnb_depth3 li a {
    color: rgb(58, 0, 58);
}
/* ================================================ footer */
#wrap_footer {}
#wrap_footer p {}
/* ====================================================main w1220+p70 */
#wrap main .container_layout,
#wrap footer .container_layout {
    width:1220px; margin: 0 auto; padding:70px 0;
}
/* main .공동클래스 {} */
#wrap main .container_layout h1 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight:500;
}
#wrap main .container_layout h1+p {
    margin-bottom: 30px;
    line-height: 1.7;
}