/* index.css */
#wrap main {
    font-family: 'pretendard' sans-serif;
}
#wrap main #hero_bnr {
    height:830px; min-width: 1220px;
    background-image:url(../images/banner_img.png);
    background-size: cover;
    background-position: center;
    padding-top: 425px;
}
#wrap main #hero_bnr .ad_txt {
    text-align: center; 
}
#wrap main #hero_bnr .ad_txt p {
    font-size: 1.88rem ;
    color: #fff;
    line-height: 1.5;
}
#wrap main #hero_bnr .ad_txt h1 {
    /* text-shadow:x y 흐림 색상; */
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600; 
    font-size: 3.13rem;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 28px;
}
#wrap main #hero_bnr .ad_txt p,
#wrap main #hero_bnr .ad_txt h1 {
    font-family: 'noto sans kr' , sans-serif;
}
#wrap main #hero_bnr #reservation_form {}
/* ------------------------------객실~인원 공통디자인 */
#wrap main #hero_bnr #reservation_form .room h2,
#wrap main #hero_bnr #reservation_form .check_in_out .in h2,
#wrap main #hero_bnr #reservation_form .check_in_out .out h2,
#wrap main #hero_bnr #reservation_form .person h2 {
    margin-bottom: 8px;
}
#wrap main #hero_bnr #reservation_form h2+div,
#wrap main #hero_bnr #reservation_form ul li {
    background-color: antiquewhite;
}
/* ------------------------------객실선택 */
#wrap main #hero_bnr #reservation_form {
    width: 1170px; 
    margin: 0 auto;
    padding: 20px ;
    border-radius: 15px ;
    background-color:rgba(255,255,255, 0.8);
    display: flex; /* 객실~체크인아웃~인원~검색 자식들 정렬 flex */
    flex-flow: row nowrap; /* 메인축(수평) */
    justify-content: space-between; /* 메인축(수평) 양쪽끝 배치 */
    align-items: center; /* 교차축(수직) 가운데 */
}
#wrap main #hero_bnr #reservation_form .room {
    width: 160px;
}
#wrap main #hero_bnr #reservation_form .room h2 {
}
#wrap main #hero_bnr #reservation_form .room .room_type:hover .room_open {display: block;}
#wrap main #hero_bnr #reservation_form .room .room_type {
    
}
#wrap main #hero_bnr #reservation_form .room .room_type {
    position: relative; /* room_open 기준 */
}
#wrap main #hero_bnr #reservation_form .room .room_type > a {
    border: 1px solid #4B4A4A;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a,
#wrap main #hero_bnr #reservation_form .room .room_type > .room_open a {
    /* 포사이드방 */
    width: 160px; height: 54px;
    background-color: #ffffff;
    display: flex; /* flex설정 시 형제끼리 크기 맞추는 자동설정 때문에 이미지 비율이 망가져 보일 수 있음(메인, 교차축 설정 적용하면 해결됨) */
    align-items: center;
    justify-content: space-between;
    padding:0 10px;
    border-radius: 5px;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a .name {
}
#wrap main #hero_bnr #reservation_form .room .room_type > a .name span,
#wrap main #hero_bnr #reservation_form .room .room_open a .name span {
    font-size: 0.75rem; 
    color: #7a7a7a;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a .name span {
    font-size: 0.75rem; 
}
#wrap main #hero_bnr #reservation_form .room .room_type > a img {}
#wrap main #hero_bnr #reservation_form .room .room_open {
    position: absolute; left: 0; top: 54px;
    display:none;
    /* absolute 설정 시 기존태그 크기가 inline-block처럼 바뀜 */
}
#wrap main #hero_bnr #reservation_form .room .room_open a {}
#wrap main #hero_bnr #reservation_form .room .room_open a .name {

}
#wrap main #hero_bnr #reservation_form .room .room_open a .name span {}
/* 체크인/아웃날짜 */
#wrap main #hero_bnr #reservation_form .check_in_out {
    display: flex; /* 필수! 메인축 방향 줄바꿈처리 flex-flow */
    flex-flow: row nowrap;
    gap: 22px;
    align-items: center;
}
/* -----------------------------------체크인 & 아웃공통 */
#wrap main #hero_bnr #reservation_form .check_in_out .in,
#wrap main #hero_bnr #reservation_form .check_in_out .day {
    
}
#wrap main #hero_bnr #reservation_form .check_in_out .in {

}
#wrap main #hero_bnr #reservation_form .check_in_out .in h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a,
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a{
    display: flex;
    width: 160px; height: 54px;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #4B4A4A;
}
/* -----------------------------------------------체크인 */
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a .name {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a img {}
#wrap main #hero_bnr #reservation_form .check_in_out .day {
    display: flex;
    flex-flow: column nowrap;
}
#wrap main #hero_bnr #reservation_form .check_in_out .day img {
    margin-top: 8px;
}
#wrap main #hero_bnr #reservation_form .check_in_out .day em {}
#wrap main #hero_bnr #reservation_form .check_in_out .out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a .date {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a img {}
/* 인원 */
#wrap main #hero_bnr #reservation_form .person {
    
}
#wrap main #hero_bnr #reservation_form .person h2 {
}
#wrap main #hero_bnr #reservation_form .person .number {
    display: flex;
    flex-flow: row nowrap;
    gap: 22px;
}
#wrap main #hero_bnr #reservation_form .person .number li {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    justify-content:space-between;
    width: 203px; height: 54px;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #4B4A4A;
    flex-flow: row nowrap;
}
#wrap main #hero_bnr #reservation_form .person .number li .number_btn {
    background-color: aqua;
}
#wrap main #hero_bnr #reservation_form .person .number li .number_btn img {}
#wrap main #hero_bnr #reservation_form .person .number li .adult_add {

}
#wrap main #hero_bnr #reservation_form .person .number li .adult_add > span {
    
}
#wrap main #hero_bnr #reservation_form .person .number li .adult_remove {}
#wrap main #hero_bnr #reservation_form .person .number li span input {
    
}
#wrap main #hero_bnr #reservation_form .person .number li span label {}
#wrap main #hero_bnr #reservation_form .person .number li span #adult {
    width: 10px; text-align: center;
}
#wrap main #hero_bnr #reservation_form .person .number li span #kid {
    width: 10px; text-align: center;
}
#wrap main #hero_bnr #reservation_form .person .number li #kid_add {}
#wrap main #hero_bnr #reservation_form .person .number li #kid_remove {}
/* =================================검색버튼 */
#wrap main #hero_bnr #reservation_form > p {
    position: relative; top: 12px;
}
#wrap main #hero_bnr #reservation_form > p #search_btn {
    background-color: #6F6A9E;
    width: 68px; height: 54px;
    border-radius: 5px;
    color: #fff;
}
/* 호랑힐 인트로+주변관광지 래핑 */
#wrap main #intro_wrap {
    background-color: #F5F5F5;
    display: flex;
    flex-flow: column nowrap;
}
/* 인트로 */
#wrap main #intro_wrap #intro_section {
}
#wrap main #intro_wrap #intro_section h1 {
}
#wrap main #intro_wrap #intro_section p {

}
#wrap main #intro_wrap #intro_section a {}
#wrap main #intro_wrap #intro_section a img {
    width: 100%;
}
/* 주변관광지 */
#wrap main #attract_wrap {
    margin: 0 0 70px;
    background-color: #6F6A9E;
}
#wrap main #attract_wrap #attract_section {
    background-color: aqua;
}
#wrap main #attract_wrap #attract_section h1 {
}
#wrap main #attract_wrap #attract_section p {

}
#wrap main #attract_wrap #attract_section .photos_wrap {
    display: inline-block
}
#wrap main #attract_wrap #attract_section .photos_wrap .img_group {
    display: flex;
} 
#wrap main #attract_wrap #attract_section .photos_wrap span {
    display: block;
}
#wrap main #attract_wrap #attract_section .photos_wrap a {
    background-color: antiquewhite;
    display: ;
    /* margin-bottom: 10px;
    display: block; */
}
#wrap main #attract_wrap #attract_section .photos_wrap a:hover {

}

#wrap main #attract_wrap #attract_section .photos_wrap a img {
    display: block;
}

#wrap main #attract_wrap #attract_section > a {
    /* text-decoration: underline;  밑줄과 글자사이 여백이 불가 */
    /* 
    가운데
    text-align 부모한테 명령 -> 자식, 자손 인라인 적용
     */
    /* fix the ailgnment problems that  */
}